*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1.3em;
  font-weight:normal;
  background-color: #ECECEC;
}


.status-bar {
  position: fixed;
  z-index: 100;
  margin: 0 auto;
  top:0;
}

nav {
  background-color: #37AB2F;
  margin-top: 6px;
  padding: 20px 20px 20px 20px;
  position: fixed;
  width: 375px;
  z-index: 100;
}

.icon1{
  position:absolute;
  top: 13px;
  left: 25px;
  width: 10%;
  display: inline-block;
}

.icon2 {
  position:absolute;
  top: 12px;
  left: 320px;
  width: 10%;
  display: inline-block;
}

.map {
  position:absolute;
  top: 75px;
  left: 510px;
  width: 40%;
  display: inline-block;
}


.center {
  color: #fff;
  display:inline-block;
  font-size: 1.2em;
  font-family: "Open sans", "Lato", sans-serif;
  text-align: center;
  width: 100%;
}


.bus-lines {
  position: relative;
  top: 160px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.header {
   background-color: #ECECEC;

 }

.content {
  line-height: 1.5em;
  padding: 15px 0 15px 15px;
  display: inline-block;
  width: 38%;
}

.line {
  font-size: 2.5em;
  margin-left: 16px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  position:relative;
  display:inline-block;
  text-align: left;
  width:18%;
}

.time {
  position:relative;
  display:inline-block;
  line-height: 1.3em;
  width: 22%;
  text-align: right;
  color: #0e0e0e;
  font-family: "Open sans", "Lato", sans-serif;
}

.resumes {
  position:relative;
  display:inline-block;
  line-height: 1.2em;
  width: 18%;
  text-align:right;
  color: #8b8b8b;
  font-family: "Open sans", "Lato", sans-serif;
}

.resume-content {
  line-height: 1.5em;
  padding: 15px 0 15px 15px;
  display:inline-block;
  width: 50%;
}

.na {
  position:relative;
  color: #8b8b8b;
  display: inline-block;
  font-size: 1.2em;
  font-family: "Open sans", "Lato", sans-serif;
  text-align: right;
  width: 25%;
}

.arrow {
  display: inline-block;
  margin-left: 15px;
  margin-right: 18px;

}

.bus-lines {
  padding-top: 10px;
  width: 376px
}

.location:hover {
  background-color: #c0c0c0;
}

.divider {
  width: 350px;
  height: 1px;
  background: #37AB2F;
  margin-left: 16px;
}
